<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UP42-CodingChallenge" preserve-order="true">
    
    <listeners> 
    <listener class-name="listeners.TestListener"></listener>
    </listeners>

     <!--<test name="All tests">
        <classes>
            <class name="TestOne"/>
        </classes>    
    </test>

    <test name="Negative Tests">
        <classes>
            <class name="TestTwo"/>
        </classes>
    </test>-->

    <test name="Negative Tests">
        <classes>
            <class name="TestThree"/>
        </classes>
    </test>

</suite>
